<div class="m-5">

  <h5><strong>Trámites en linea de Gobierno del Estado de Colima</strong></h5>
  <blockquote class='text-justify'>Bienvenido a la aplicación móvil de Kioscos de trámites y servicios electónicos del Gobierno del Estado de Colima. Aquí encontrarás los trámites más cercanos a ti.</blockquote>
  
  <app-categorias></app-categorias>
  
  <!-- <div class="section">
    <div class="row">
      <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
        <i class="material-icons prefix">search</i>
        <input id="buscarTramitePage" type="text" class="autocomplete">
        <label for="buscarTramitePage">Buscar trámite</label>
      </div>
    </div>
  </div> -->

</div>