<div id="wrap">
    <div id="main" class="clear-top">
        <nav class="grey lighten-2" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo"><img src="assets/images/logo.png" alt="Gobierno del Estado de Colima"></a>
                <ul class="right hide-on-med-and-down">
                    <li>    
                        <div class="center row">
                            <div class="col s12 " >
                                <div class="row" id="topbarsearch">
                                    <div class="input-field col s6 s12 red-text">
                                        <i class="black-text material-icons prefix">search</i>
                                        <input type="text" placeholder="Buscar" id="buscar" class="autocomplete black-text" >
                                    </div>
                                </div>
                            </div>
                        </div>          
                    </li>  
                    <li><a [routerLink]="[ '/principal' ]"><i class="material-icons">home</i></a></li>
                    <li><a [routerLink]="[ '/tramitesyServicios' ]"><i class="material-icons left">room_service</i>Trámites y Servicios</a></li>
                    <li><a [routerLink]="[ '/ubicanos' ]"><i class="material-icons left">location_on</i>Ubicanos</a></li>
                    <li><a [routerLink]="[ '/contacto' ]"><i class="material-icons left">question_answer</i>Contáctanos</a></li>
                </ul>

                <ul id="slide-out" class="sidenav">
                    <li><div class="user-view"><img src="assets/images/escudo.png" alt="Gobierno del Estado de Colima"></div></li>        
                    <li><a [routerLink]="[ '/principal' ]" class="sidenav-close"><i class="material-icons left">home</i>Inicio</a></li>
                    <li><div class="divider"></div></li>
                    <li><a [routerLink]="[ '/tramitesyServicios' ]" class="sidenav-close"><i class="material-icons left">room_service</i>Trámites y Servicios</a></li>
                    <li><a [routerLink]="[ '/ubicanos' ]" class="sidenav-close"><i class="material-icons left">location_on</i>Ubicanos</a></li>
                    <li><a [routerLink]="[ '/contacto' ]" class="sidenav-close"><i class="material-icons left">question_answer</i>Contáctanos</a></li>
                    <li><div class="divider"></div></li>
                    <li>
                        <div class='user-view'>
                            <div class="row">
                                <div class="row">                        
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">search</i>
                                        <input id="buscarMobil" type="text" class="validate">
                                        <label for="buscarMobil">Buscar</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="page-footer grey lighten-2 black-text footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Footer</h5>
            </div>
        </div>
        Made by <a class="red-text" href="http://materializecss.com">Materialize</a>
    </div>
</footer>
