body {
  background-image: url('assets/images/escudo2_05pOpacy.png');
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: 500px;
  background-position: calc(100% + 50px) calc(100% - 400px);  
}

 
@media only screen and (max-width: 992px) {
  body {
    background-position: calc(100% + 50px) calc(100% - 500px);  
  }
}

@media (max-width: 700px){    
    body {      
      background-position: calc(100% + 100px) calc(100% - 500px);  
    }
}

@media (max-width: 400px){
    body {
      background-position: calc(100% + 180px) calc(100% - 500px);  
    }
} 

